
:root {
  --blueColor1-- : #5ba4cf;
  --blueColor2-- : #298fca;
  --blueColor3-- : #0079bf;
  --blueColor4-- : #026aa7;
  --blueColor5-- : #055a8c;
  --blueColor6-- : #094c72;
  --blackColor-- : #282c34;
  --whiteColor-- : #f8f9fc;
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}


@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}


@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}