.layout {
  position: relative;
  background-color: var(--blackColor--);
  background-size:  300vw;
  // height: 100vh;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white;
  padding-top: 75px;

  .bodyContainer {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}